/*
 * Copyright (c) 2025
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	model = "NASR-M STM32H723 board";
	compatible = "st,stm32h723";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";

		status_led: led_0 {
			status = "okay";
			gpios = <&gpioe 15 GPIO_ACTIVE_HIGH>;
			label = "Status LED";
		};

		atxpson: atxpson0 {
			 status = "okay";
			 gpios = <&gpioe 0 GPIO_ACTIVE_HIGH>;
			 label = "atx_ps_on";
		};

		sw_i2c_rst: sw_i2c_rst0 {
			 status = "okay";
			 gpios = <&gpioe 11 GPIO_ACTIVE_HIGH>;
			 label = "SW_I2C_RST";
		};

		clk_i2c_rst: clk_i2c_rst0 {
			 status = "okay";
			 gpios = <&gpioe 13 GPIO_ACTIVE_HIGH>;
			 label = "CLK_I2C_RST";
		};

		bconf_rst: bconf_rst0 {
			 status = "okay";
			 gpios = <&gpioe 4 GPIO_ACTIVE_HIGH>;
			 label = "BCONF_RST_B";
		};

		vioc_rst: vioc_rst0 {
			 status = "okay";
			 gpios = <&gpioe 12 GPIO_ACTIVE_HIGH>;
			 label = "VIOC_I2C_EXT_RST";
		};

		zynqpwen: zynqpwen0 {
			 status = "okay";
			 gpios = <&gpioe 1 GPIO_ACTIVE_HIGH>;
			 label = "ZYNQ_PWCTL_EN";
		};

		clkctlrefsel: cctlrefsel0 {
			   gpios = <&gpio_clk_exp 7 GPIO_ACTIVE_HIGH>;
			   status = "okay";
			   label = "Clock control input reference selection";
	        };

		clkctlled: cctlled0 {
			   gpios = <&gpio_clk_exp 11 GPIO_ACTIVE_HIGH>;
			   status = "okay";
			   label = "Clock control LED";
	        };

		clkctlpdn: cctlpdn0 {
		            gpios = <&gpio_clk_exp 06 GPIO_ACTIVE_HIGH>;
			    status = "okay";
			    label = "Clock control PDN";
		};

		clkctlhwsw: cctlhwsw0 {
		            gpios = <&gpio_clk_exp 15 GPIO_ACTIVE_HIGH>;
			    status = "okay";
			    label = "Clock control HW_SW";
		};

		clkctlgpio0: cctlgpio00 {
		            gpios = <&gpio_clk_exp 0 GPIO_ACTIVE_HIGH>;
			    status = "okay";
			    label = "Clock control GPIO0";
		};

		clkctlgpio1: cctlgpio01 {
		            gpios = <&gpio_clk_exp 1 GPIO_ACTIVE_HIGH>;
			    status = "okay";
			    label = "Clock control GPIO1";
		};

		clkctlgpio2: cctlgpio02 {
		            gpios = <&gpio_clk_exp 2 GPIO_ACTIVE_HIGH>;
			    status = "okay";
			    label = "Clock control GPIO2";
		};

		clkctlgpio3: cctlgpio03 {
		            gpios = <&gpio_clk_exp 3 GPIO_ACTIVE_HIGH>;
			    status = "okay";
			    label = "Clock control GPIO3";
		};

		clkctlgpio4: cctlgpio04 {
		            gpios = <&gpio_clk_exp 4 GPIO_ACTIVE_HIGH>;
			    status = "okay";
			    label = "Clock control GPIO4";
		};

		clkctlgpio5: cctlgpio05 {
		            gpios = <&gpio_clk_exp 5 GPIO_ACTIVE_HIGH>;
			    status = "okay";
			    label = "Clock control GPIO5";
		};


	};

	aliases {
		console = &usart1;
		led0 = &status_led;
		uartinvalid = &uartinvalidb;
		atxpbtn = &atxpwrbtn;
		atxok = &atxpwrok;
		atxon = &atxpson;
		bootbtn = &bootbutton;
		swi2crst = &sw_i2c_rst;
		clki2crst = &clk_i2c_rst;
		viocrst = &vioc_rst;
		bconfrst = &bconf_rst;
		i2c-0 = &i2c1;
		i2c-1 = &i2c2;
		i2c-2 = &i2c4;
		i2c-channel-0 = &ch0;
		i2c-channel-1 = &ch1;
		tmps1 = &temp_sens_1;
		tmps2 = &temp_sens_2;
		zynqpwctlen = &zynqpwen;
		cctlled = &clkctlled;
		cctlpdn = &clkctlpdn;
		cctlrsel = &clkctlrefsel;
		clkctlhsw = &clkctlhwsw;
		clkio0 = &clkctlgpio0;
		clkio1 = &clkctlgpio1;
		clkio2 = &clkctlgpio2;
		clkio3 = &clkctlgpio3;
		clkio4 = &clkctlgpio4;
		clkio5 = &clkctlgpio5;
	};
};

&gpioe {
	status = "okay";

    /* Name the hog node something descriptive */

/*
  clock_expander_reset: clock_expander_reset0 {
        gpios = <13 GPIO_ACTIVE_HIGH>; 
        output-high;                   
        gpio-hog;                      
    };
    */
};

&gpiof {
	status = "okay";
};


/ {
  buttons {
	compatible = "gpio-keys";
	 
	 uartinvalidb: uartinvalidb0 {
	 		      status = "okay";
	 		      gpios = <&gpiof 7 GPIO_ACTIVE_HIGH>;
			      label = "gpio_uart_invalid_b";
	 };

	 atxpwrbtn: atxpwrbtn0 {
	 		      status = "okay";
	 		      gpios = <&gpiof 6 GPIO_ACTIVE_HIGH>;
			      label = "atx_pwr_btn";
	 };

	 atxpwrok: atxpwrok0 {
	 		      status = "okay";
	 		      gpios = <&gpiof 2 GPIO_ACTIVE_HIGH>;
			      label = "atx_pwr_ok";
	 };

	 bootbutton: boot0 {
	 		      status = "okay";
	 		      gpios = <&gpioh 3 GPIO_ACTIVE_HIGH>;
			      label = "boot0";
	 };




};

};



&clk_hsi {
	status = "okay";
};

&pll {
	div-m = <8>;
	mul-n = <120>;
	div-p = <2>;
	div-q = <4>;
	div-r = <2>;
	clocks = <&clk_hsi>;
	status = "okay";
};

&pll2 {
	clocks = <&clk_hsi>;
	status = "disabled";
};

&pll3 {
	div-m = <8>;
	mul-n = <120>;
	div-p = <2>;
	div-q = <4>;
	div-r = <2>;
	clocks = <&clk_hsi>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(480)>;
	d1cpre = <1>;
	hpre = <2>;
	d1ppre = <2>;
	d2ppre1 = <2>;
	d2ppre2 = <2>;
	d3ppre = <2>;
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pb14 &usart1_rx_pb15>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

/* I2C1 sw. to SYZYGY ports */
&i2c1 {
	status = "okay";
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-names = "default";

	clock-frequency = <I2C_BITRATE_FAST>;
	label = "i2c1";

	mux: tca9548a@70 {
          compatible = "ti,tca9548a";
          reg = <0x70>;
          status = "okay";
          label = "i2c_mux";
          #address-cells = <1>;
          #size-cells = <0>;
	  reset-gpios = <&gpioe 1 GPIO_ACTIVE_LOW>;

          ch0: mux_i2c@0 {
            compatible = "ti,tca9548a-channel";
	    status = "okay";
              reg = <0>;
              #address-cells = <1>;
              #size-cells = <0>;
          };


          ch1: mux_i2c@1 {
              compatible = "ti,tca9548a-channel";
	      status = "okay"; 
		  	label = "thermometers";
              reg = <1>;

              #address-cells = <1>;
              #size-cells = <0>;



	      temp_sens_1: tmp112_1@48 {
                  compatible = "ti,tmp112";
                  reg = <0x48>;
		  label = "thermometer1";
		  status = "okay";
              };

	      temp_sens_2: tmp112_2@49 {
                  compatible = "ti,tmp112";
                  reg = <0x49>;
		  label = "thermometer2";
		  status = "okay";
              };
	      
          };

          ch2: mux_i2c@2{
              compatible = "ti,tca9548a-channel";
              reg = <2>;

			  label = "power_sensors";

              #address-cells = <1>;
              #size-cells = <0>;


			  	ina219soc3v3: ina219s3v3@40 {
                	compatible = "ti,ina219";
        			reg = <0x40>;
					label = "pws_soc3v3";
        			shunt-milliohm = <20>; /* Shunt resistor value in mΩ */
        			lsb-microamp = <10>;    /* Current LSB in µA */
					status = "okay";
    			};

			  	ina219soc1v0: ina219s1v0@41 {
                	compatible = "ti,ina219";
        			reg = <0x41>;
					label = "pws_soc1v0";
        			shunt-milliohm = <20>; /* Shunt resistor value in mΩ */
        			lsb-microamp = <10>;    /* Current LSB in µA */
					status = "okay";
    			};

			  	ina219soc1v8: ina219s1v8@42 {
                	compatible = "ti,ina219";
        			reg = <0x42>;
					label = "pws_soc1v8";
        			shunt-milliohm = <20>; /* Shunt resistor value in mΩ */
        			lsb-microamp = <10>;    /* Current LSB in µA */
					status = "okay";
    			};
          };

          ch3: mux_i2c@3{
              compatible = "ti,tca9548a-channel";
              reg = <3>;

              #address-cells = <1>;
              #size-cells = <0>;
          };

          ch4: mux_i2c@4{
              compatible = "ti,tca9548a-channel";
              reg = <4>;

              #address-cells = <1>;
              #size-cells = <0>;
          };

          ch5: mux_i2c@5{
              compatible = "ti,tca9548a-channel";
              reg = <5>;

              #address-cells = <1>;
              #size-cells = <0>;

	      viodac_1: tmp112@48 {
                  compatible = "ti,tmp112";
                  reg = <0x48>;
		  label = "tmp1";
		  status = "okay";
              };

          };

          ch6: mux_i2c@6{
              compatible = "ti,tca9548a-channel";
              reg = <6>;

              #address-cells = <1>;
              #size-cells = <0>;
          };


          ch7: mux_i2c@7{
              compatible = "ti,tca9548a-channel";
              reg = <7>;

              #address-cells = <1>;
              #size-cells = <0>;
          };



      }; /*mux*/
    

};

/* I2C4 clk ctl */
&i2c4 {
	pinctrl-0 = <&i2c4_scl_pf14 &i2c4_sda_pf15>;
	pinctrl-names = "default";
	status = "okay";
	label = "i2cclk";
	clock-frequency = <I2C_BITRATE_STANDARD>;


    gpio_clk_exp: tca6416a@20 {
        compatible = "ti,tca6416a";
        reg = <0x20>;
        status = "okay";
	label = "clkexpander";

	reset-gpios =  <&gpioe 13 GPIO_ACTIVE_LOW>;
	/* supply-gpios = <&gpioe 0 GPIO_ACTIVE_HIGH>; */

        gpio-controller;
        #gpio-cells = <2>;
        ngpios = <16>;



        /* Interrupt line wired to SoC GPIO pin */
        //interrupt-gpios = <&gpiof 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

        /* Optional: name the 16 GPIO lines */
        gpio-line-names =
            "cctl_exp_0", "cctl_exp_1", "cctl_exp_2", "cctl_exp_3",
            "cctl_exp_4", "cctl_exp_5", "cctl_exp_6", "cctl_exp_7",
            "cctl_exp_8", "cctl_exp_9", "cctl_exp_10", "cctl_exp_11",
            "cctl_exp_12", "cctl_exp_13", "cctl_exp_14", "cctl_exp_15";

    };

		lmk03328: lmk03328@54 {
		compatible = "ti,lmk03328";
		init-priority = <90>;
		reg = <0x54>;
	        /*software-reset;*/    /* clear R12[7] after writing all registers */

		status = "okay";

		reg-values = <
			0x1D01  /* R29  enable AC coupling mode on a primary input*/
			            0x0232  /* R2     addr=0x02  val=0x32 */
                        0x0300  /* R3     addr=0x03  val=0x00 */
                        0x0CDF  /* R12    addr=0x0C  val=0xDF */
                        0x0D00  /* R13    addr=0x0D  val=0x00 */
                        0x0E00  /* R14    addr=0x0E  val=0x00 */
                        0x1800  /* R24    addr=0x18  val=0x00 */
                        0x19F5  /* R25    addr=0x19  val=0xF5 */
                        0x14FF  /* R20    addr=0x14  val=0xFF */
                        0x15FF  /* R21    addr=0x15  val=0xFF */
                        0x16FF  /* R22    addr=0x16  val=0xFF */
                        0x1702  /* R23    addr=0x17  val=0x02 */
                        0x1B58  /* R27    addr=0x1B  val=0x58 */
                        0x1C28  /* R28    addr=0x1C  val=0x28 */
                        0x1D03  /* R29    addr=0x1D  val=0x03 */
                        0x1E0C  /* R30    addr=0x1E  val=0x0C */
                        0x1F20  /* R31    addr=0x1F  val=0x20 */
                        0x2030  /* R32    addr=0x20  val=0x30 */
                        0x2127  /* R33    addr=0x21  val=0x27 */
                        0x2230  /* R34    addr=0x22  val=0x30 */
                        0x237C  /* R35    addr=0x23  val=0x7C */
                        0x2427  /* R36    addr=0x24  val=0x27 */
                        0x2510  /* R37    addr=0x25  val=0x10 */
                        0x262F  /* R38    addr=0x26  val=0x2F */
                        0x2710  /* R39    addr=0x27  val=0x10 */
                        0x282F  /* R40    addr=0x28  val=0x2F */
                        0x2950  /* R41    addr=0x29  val=0x50 */
                        0x2A0E  /* R42    addr=0x2A  val=0x0E */
                        0x790F  /* R121   addr=0x79  val=0x0F */
                        0x7A0F  /* R122   addr=0x7A  val=0x0F */
                        0x7B0F  /* R123   addr=0x7B  val=0x0F */
                        0x7C0F  /* R124   addr=0x7C  val=0x0F */
                        0x2B50  /* R43    addr=0x2B  val=0x50 */
                        0x2C0E  /* R44    addr=0x2C  val=0x0E */
                        0x2D0A  /* R45    addr=0x2D  val=0x0A */
                        0x2E00  /* R46    addr=0x2E  val=0x00 */
                        0x2F00  /* R47    addr=0x2F  val=0x00 */
                        0x30FF  /* R48    addr=0x30  val=0xFF */
                        0x3205  /* R50    addr=0x32  val=0x05 */
                        0x3303  /* R51    addr=0x33  val=0x03 */
                        0x3400  /* R52    addr=0x34  val=0x00 */
                        0x3500  /* R53    addr=0x35  val=0x00 */
                        0x3600  /* R54    addr=0x36  val=0x00 */
                        0x3700  /* R55    addr=0x37  val=0x00 */
                        0x380E  /* R56    addr=0x38  val=0x0E */
                        0x3915  /* R57    addr=0x39  val=0x15 */
                        0x3A00  /* R58    addr=0x3A  val=0x00 */
                        0x3B62  /* R59    addr=0x3B  val=0x62 */
                        0x3C00  /* R60    addr=0x3C  val=0x00 */
                        0x3D00  /* R61    addr=0x3D  val=0x00 */
                        0x8407  /* R132   addr=0x84  val=0x07 */
                        0x8505  /* R133   addr=0x85  val=0x05 */
                        0x3E22  /* R62    addr=0x3E  val=0x22 */
                        0x3F00  /* R63    addr=0x3F  val=0x00 */
                        0x4000  /* R64    addr=0x40  val=0x00 */
                        0x412D  /* R65    addr=0x41  val=0x2D */
                        0x4203  /* R66    addr=0x42  val=0x03 */
                        0x431A  /* R67    addr=0x43  val=0x1A */
                        0x4403  /* R68    addr=0x44  val=0x03 */
                        0x457D  /* R69    addr=0x45  val=0x7D */
                        0x4607  /* R70    addr=0x46  val=0x07 */
                        0x4712  /* R71    addr=0x47  val=0x12 */
                        0x4818  /* R72    addr=0x48  val=0x18 */
                        0x4900  /* R73    addr=0x49  val=0x00 */
                        0x4A5A  /* R74    addr=0x4A  val=0x5A */
                        0x4B00  /* R75    addr=0x4B  val=0x00 */
                        0x4C00  /* R76    addr=0x4C  val=0x00 */
                        0x4D00  /* R77    addr=0x4D  val=0x00 */
                        0x5001  /* R80    addr=0x50  val=0x01 */
                        0x510C  /* R81    addr=0x51  val=0x0C */
                        0x5208  /* R82    addr=0x52  val=0x08 */
                        0x5301  /* R83    addr=0x53  val=0x01 */
                        0x5404  /* R84    addr=0x54  val=0x04 */
                        0x5507  /* R85    addr=0x55  val=0x07 */
                        0x5600  /* R86    addr=0x56  val=0x00 */
                        0x5700  /* R87    addr=0x57  val=0x00 */

		>;
	};
};

/* I2C2 mcu */
&i2c2 {
	pinctrl-0 = <&i2c2_scl_pf1 &i2c2_sda_pf0>;
	pinctrl-names = "default";
	status = "okay";
	label = "i2c2";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	/*clock-frequency = <I2C_BITRATE_FAST>;*/

};


&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(64)>;
			read-only;
		};

		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 DT_SIZE_K(448)>;
		};

		slot1_partition: partition@80000 {
			label = "image-1";
			reg = <0x00080000 DT_SIZE_K(448)>;
		};

		scratch_partition: partition@f0000 {
			label = "image-scratch";
			reg = <0x000f0000 DT_SIZE_K(64)>;
		};
	};
};


