/*
 * Copyright (c) 2025
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	model = "NASR-M STM32H723 board";
	compatible = "st,stm32h723";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";

		status_led: led_0 {
			status = "okay";
			gpios = <&gpioe 15 GPIO_ACTIVE_HIGH>;
			label = "Status LED";
		};

		atxpson: atxpson0 {
			 status = "okay";
			 gpios = <&gpioe 0 GPIO_ACTIVE_HIGH>;
			 label = "atx_ps_on";
		};

		sw_i2c_rst: sw_i2c_rst0 {
			 status = "okay";
			 gpios = <&gpioe 11 GPIO_ACTIVE_HIGH>;
			 label = "SW_I2C_RST";
		};

		clk_i2c_rst: clk_i2c_rst0 {
			 status = "okay";
			 /*gpios = <&gpioe 13 GPIO_ACTIVE_LOW>;*/
			 gpios = <&gpioe 13 GPIO_ACTIVE_HIGH>;
			 label = "CLK_I2C_RST";

		};

		zynqpwen: zynqpwen0 {
			 status = "okay";
			 gpios = <&gpioe 1 GPIO_ACTIVE_HIGH>;
			 label = "ZYNQ_PWCTL_EN";
		};

		clkctlrefsel: cctlrefsel0 {
			   gpios = <&gpio_clk_exp 7 GPIO_ACTIVE_HIGH>;
			   status = "okay";
			   label = "Clock control input reference selection";
	        };

		clkctlled: cctlled0 {
			   gpios = <&gpio_clk_exp 11 GPIO_ACTIVE_HIGH>;
			   status = "okay";
			   label = "Clock control LED";
	        };

		clkctlpdn: cctlpdn0 {
		            gpios = <&gpio_clk_exp 06 GPIO_ACTIVE_HIGH>;
			    status = "okay";
			    label = "Clock control PDN";
		};

		clkctlhwsw: cctlhwsw0 {
		            gpios = <&gpio_clk_exp 15 GPIO_ACTIVE_HIGH>;
			    status = "okay";
			    label = "Clock control HW_SW";
		};

		clkctlgpio0: cctlgpio00 {
		            gpios = <&gpio_clk_exp 0 GPIO_ACTIVE_HIGH>;
			    status = "okay";
			    label = "Clock control GPIO0";
		};

		clkctlgpio1: cctlgpio01 {
		            gpios = <&gpio_clk_exp 1 GPIO_ACTIVE_HIGH>;
			    status = "okay";
			    label = "Clock control GPIO1";
		};

		clkctlgpio2: cctlgpio02 {
		            gpios = <&gpio_clk_exp 2 GPIO_ACTIVE_HIGH>;
			    status = "okay";
			    label = "Clock control GPIO2";
		};

		clkctlgpio3: cctlgpio03 {
		            gpios = <&gpio_clk_exp 3 GPIO_ACTIVE_HIGH>;
			    status = "okay";
			    label = "Clock control GPIO3";
		};

		clkctlgpio4: cctlgpio04 {
		            gpios = <&gpio_clk_exp 4 GPIO_ACTIVE_HIGH>;
			    status = "okay";
			    label = "Clock control GPIO4";
		};

		clkctlgpio5: cctlgpio05 {
		            gpios = <&gpio_clk_exp 5 GPIO_ACTIVE_HIGH>;
			    status = "okay";
			    label = "Clock control GPIO5";
		};


	};

	aliases {
		console = &usart1;
		led0 = &status_led;
		uartinvalid = &uartinvalidb;
		atxpbtn = &atxpwrbtn;
		atxok = &atxpwrok;
		atxon = &atxpson;
		bootbtn = &bootbutton;
		swi2crst = &sw_i2c_rst;
		clki2crst = &clk_i2c_rst;
		i2c-0 = &i2c1;
		i2c-1 = &i2c2;
		i2c-2 = &i2c4;
		i2c-channel-0 = &ch0;
		i2c-channel-1 = &ch1;
		tmps1 = &temp_sens_1;
		tmps2 = &temp_sens_2;
		zynqpwctlen = &zynqpwen;
		cctlled = &clkctlled;
		cctlpdn = &clkctlpdn;
		cctlrsel = &clkctlrefsel;
		clkctlhsw = &clkctlhwsw;
		clkio0 = &clkctlgpio0;
		clkio1 = &clkctlgpio1;
		clkio2 = &clkctlgpio2;
		clkio3 = &clkctlgpio3;
		clkio4 = &clkctlgpio4;
		clkio5 = &clkctlgpio5;
	};
};

&gpioe {
	status = "okay";

    /* Name the hog node something descriptive */

/*
  clock_expander_reset: clock_expander_reset0 {
        gpios = <13 GPIO_ACTIVE_HIGH>; 
        output-high;                   
        gpio-hog;                      
    };
    */
};

&gpiof {
	status = "okay";
};


/ {
  buttons {
	compatible = "gpio-keys";
	 
	 uartinvalidb: uartinvalidb0 {
	 		      status = "okay";
	 		      gpios = <&gpiof 7 GPIO_ACTIVE_HIGH>;
			      label = "gpio_uart_invalid_b";
	 };

	 atxpwrbtn: atxpwrbtn0 {
	 		      status = "okay";
	 		      gpios = <&gpiof 6 GPIO_ACTIVE_HIGH>;
			      label = "atx_pwr_btn";
	 };

	 atxpwrok: atxpwrok0 {
	 		      status = "okay";
	 		      gpios = <&gpiof 2 GPIO_ACTIVE_HIGH>;
			      label = "atx_pwr_ok";
	 };

	 bootbutton: boot0 {
	 		      status = "okay";
	 		      gpios = <&gpioh 3 GPIO_ACTIVE_HIGH>;
			      label = "boot0";
	 };




};

};



&clk_hsi {
	status = "okay";
};

&pll {
	div-m = <8>;
	mul-n = <120>;
	div-p = <2>;
	div-q = <4>;
	div-r = <2>;
	clocks = <&clk_hsi>;
	status = "okay";
};

&pll2 {
	clocks = <&clk_hsi>;
	status = "disabled";
};

&pll3 {
	div-m = <8>;
	mul-n = <120>;
	div-p = <2>;
	div-q = <4>;
	div-r = <2>;
	clocks = <&clk_hsi>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(480)>;
	d1cpre = <1>;
	hpre = <2>;
	d1ppre = <2>;
	d2ppre1 = <2>;
	d2ppre2 = <2>;
	d3ppre = <2>;
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pb14 &usart1_rx_pb15>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

/* I2C1 sw. to SYZYGY ports */
&i2c1 {
	status = "okay";
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-names = "default";

	clock-frequency = <I2C_BITRATE_FAST>;
	label = "i2c1";

	mux: tca9548a@70 {
          compatible = "ti,tca9548a";
          reg = <0x70>;
          status = "okay";
          label = "i2c_mux";
          #address-cells = <1>;
          #size-cells = <0>;
	  reset-gpios = <&gpioe 1 GPIO_ACTIVE_LOW>;

          ch0: mux_i2c@0 {
            compatible = "ti,tca9548a-channel";
	    status = "okay";
              reg = <0>;
              #address-cells = <1>;
              #size-cells = <0>;
          };


          ch1: mux_i2c@1 {
              compatible = "ti,tca9548a-channel";
	      status = "okay"; 
              reg = <1>;

              #address-cells = <1>;
              #size-cells = <0>;



	      temp_sens_1: tmp112@48 {
                  compatible = "ti,tmp112";
                  reg = <0x48>;
		  label = "thermometer1";
		  status = "okay";
              };

	      temp_sens_2: tmp112@49 {
                  compatible = "ti,tmp112";
                  reg = <0x49>;
		  label = "thermometer2";
		  status = "okay";
              };
	      
          };

          ch2: mux_i2c@2{
              compatible = "ti,tca9548a-channel";
              reg = <2>;

              #address-cells = <1>;
              #size-cells = <0>;
          };

          ch3: mux_i2c@3{
              compatible = "ti,tca9548a-channel";
              reg = <3>;

              #address-cells = <1>;
              #size-cells = <0>;
          };

          ch4: mux_i2c@4{
              compatible = "ti,tca9548a-channel";
              reg = <4>;

              #address-cells = <1>;
              #size-cells = <0>;
          };

          ch5: mux_i2c@5{
              compatible = "ti,tca9548a-channel";
              reg = <5>;

              #address-cells = <1>;
              #size-cells = <0>;

	      viodac_1: tmp112@48 {
                  compatible = "ti,tmp112";
                  reg = <0x48>;
		  label = "tmp1";
		  status = "okay";
              };

          };

          ch6: mux_i2c@6{
              compatible = "ti,tca9548a-channel";
              reg = <6>;

              #address-cells = <1>;
              #size-cells = <0>;
          };


          ch7: mux_i2c@7{
              compatible = "ti,tca9548a-channel";
              reg = <7>;

              #address-cells = <1>;
              #size-cells = <0>;
          };



      }; /*mux*/
    

};

/* I2C4 clk ctl */
&i2c4 {
	pinctrl-0 = <&i2c4_scl_pf14 &i2c4_sda_pf15>;
	pinctrl-names = "default";
	status = "okay";
	label = "i2cclk";
	clock-frequency = <I2C_BITRATE_STANDARD>;


    gpio_clk_exp: tca6416a@20 {
        compatible = "ti,tca6416a";
        reg = <0x20>;
        status = "okay";
	label = "clkexpander";

	reset-gpios =  <&gpioe 13 GPIO_ACTIVE_LOW>;
	/* supply-gpios = <&gpioe 0 GPIO_ACTIVE_HIGH>; */

        gpio-controller;
        #gpio-cells = <2>;
        ngpios = <16>;



        /* Interrupt line wired to SoC GPIO pin */
        //interrupt-gpios = <&gpiof 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

        /* Optional: name the 16 GPIO lines */
        gpio-line-names =
            "cctl_exp_0", "cctl_exp_1", "cctl_exp_2", "cctl_exp_3",
            "cctl_exp_4", "cctl_exp_5", "cctl_exp_6", "cctl_exp_7",
            "cctl_exp_8", "cctl_exp_9", "cctl_exp_10", "cctl_exp_11",
            "cctl_exp_12", "cctl_exp_13", "cctl_exp_14", "cctl_exp_15";

    };

		lmk03328: lmk03328@54 {
		compatible = "ti,lmk03328";
		init-priority = <90>;
		reg = <0x54>;
	    software-reset;    /* clear R12[7] after writing all registers */

		status = "okay";

		reg-values = <
			0x0010  /* R0   */
			0x010B  /* R1   */
			0x0232  /* R2   */
			0x0300  /* R3   */
			0x0400  /* R4   */
			0x0500  /* R5   */
			0x0600  /* R6   */
			0x0700  /* R7   */
			0x0800  /* R8   */
			0x0900  /* R9   */
			0x0A00  /* R10  */
			0x0B00  /* R11  */
			0x0CDF  /* R12  */
			0x0D00  /* R13  */
			0x0E00  /* R14  */
			0x0F00  /* R15  */
			0x1000  /* R16  */
			0x1100  /* R17  */
			0x1200  /* R18  */
			0x1300  /* R19  */
			0x14FF  /* R20  */
			0x15FF  /* R21  */
			0x16FF  /* R22  */
			0x1702  /* R23  */
			0x1800  /* R24  */
			0x19F5  /* R25  */
			0x1A00  /* R26  */
			0x1B58  /* R27  */
			0x1C28  /* R28  */
			0x1D02  /* R29  */
			0x1E0C  /* R30  */
			0x1F20  /* R31  */
			0x2030  /* R32  */
			0x2113  /* R33  */
			0x2230  /* R34  */
			0x237C  /* R35  */
			0x2413  /* R36  */
			0x2510  /* R37  */
			0x262F  /* R38  */
			0x2710  /* R39  */
			0x282F  /* R40  */
			0x2950  /* R41  */
			0x2A27  /* R42  */
			0x2B50  /* R43  */
			0x2C27  /* R44  */
			0x2D0A  /* R45  */
			0x2E00  /* R46  */
			0x2F00  /* R47  */
			0x30FF  /* R48  */
			0x3100  /* R49  */
			0x3285  /* R50  */
			0x3303  /* R51  */
			0x3400  /* R52  */
			0x3500  /* R53  */
			0x3600  /* R54  */
			0x3700  /* R55  */
			0x381E  /* R56  */
			0x3915  /* R57  */
			0x3A00  /* R58  */
			0x3B62  /* R59  */
			0x3C00  /* R60  */
			0x3D00  /* R61  */
			0x3E22  /* R62  */
			0x3F00  /* R63  */
			0x4000  /* R64  */
			0x412D  /* R65  */
			0x4203  /* R66  */
			0x431A  /* R67  */
			0x4403  /* R68  */
			0x457D  /* R69  */
			0x4607  /* R70  */
			0x4706  /* R71  */
			0x4818  /* R72  */
			0x4900  /* R73  */
			0x4A60  /* R74  */
			0x4B00  /* R75  */
			0x4C00  /* R76  */
			0x4D00  /* R77  */
			0x4E00  /* R78  */
			0x4F00  /* R79  */
			0x5001  /* R80  */
			0x510C  /* R81  */
			0x5208  /* R82  */
			0x5301  /* R83  */
			0x5404  /* R84  */
			0x5507  /* R85  */
			0x5600  /* R86  */
			0x5700  /* R87  */
			0x5800  /* R88  */
			0x59DE  /* R89  */
			0x5A01  /* R90  */
			0x5B18  /* R91  */
			0x5C01  /* R92  */
			0x5D4B  /* R93  */
			0x5E01  /* R94  */
			0x5F86  /* R95  */
			0x6001  /* R96  */
			0x61BE  /* R97  */
			0x6201  /* R98  */
			0x63FE  /* R99  */
			0x6402  /* R100 */
			0x6547  /* R101 */
			0x6602  /* R102 */
			0x679E  /* R103 */
			0x6800  /* R104 */
			0x6900  /* R105 */
			0x6A05  /* R106 */
			0x6B0F  /* R107 */
			0x6C0F  /* R108 */
			0x6D0F  /* R109 */
			0x6E0F  /* R110 */
			0x6F00  /* R111 */
			0x7000  /* R112 */
			0x7100  /* R113 */
			0x7200  /* R114 */
			0x7308  /* R115 */
			0x7419  /* R116 */
			0x7580  /* R117 */
			0x7607  /* R118 */
			0x7705  /* R119 */
			0x7800  /* R120 */
			0x790F  /* R121 */
			0x7A0F  /* R122 */
			0x7B0F  /* R123 */
			0x7C0F  /* R124 */
			0x7D00  /* R125 */
			0x7E00  /* R126 */
			0x7F00  /* R127 */
			0x8000  /* R128 */
			0x8108  /* R129 */
			0x8219  /* R130 */
			0x8300  /* R131 */
			0x8407  /* R132 */
			0x8505  /* R133 */
			0x8600  /* R134 */
			0x8700  /* R135 */
			0x8800  /* R136 */
			0x8910  /* R137 */
			0x8A00  /* R138 */
			0x8B00  /* R139 */
			0x8C00  /* R140 */
			0x8D00  /* R141 */
			0x8E00  /* R142 */
			0x8F00  /* R143 */
			0x9000  /* R144 */
			0x9100  /* R145 */
			0xA940  /* R169 */
			0xAC24  /* R172 */
			0xAD00  /* R173 */
		>;
	};
};

/* I2C2 mcu */
&i2c2 {
	pinctrl-0 = <&i2c2_scl_pf1 &i2c2_sda_pf0>;
	pinctrl-names = "default";
	status = "okay";
	label = "i2c2";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	/*clock-frequency = <I2C_BITRATE_FAST>;*/

};


&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(64)>;
			read-only;
		};

		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 DT_SIZE_K(448)>;
		};

		slot1_partition: partition@80000 {
			label = "image-1";
			reg = <0x00080000 DT_SIZE_K(448)>;
		};

		scratch_partition: partition@f0000 {
			label = "image-scratch";
			reg = <0x000f0000 DT_SIZE_K(64)>;
		};
	};
};


