# STM32H745ZI Nucleo board OpenOCD ST-LINK V3 configuration
#
# Copyright (c) 2020 Alexander Kozhinov <ak.alexander.kozhinov@gmail.com>
# SPDX-License-Identifier: Apache-2.0
#

source [find interface/stlink-dap.cfg]
transport select dapdirect_swd

set WORKAREASIZE 0x3000
set CHIPNAME STM32H723ZG
set BOARDNAME NASR

source [find target/stm32h7x.cfg]

# NRST is not wired to the ST-LINK on this board ("BUG: can't assert SRST"),
# so reset the core through SYSRESETREQ instead of SRST. Otherwise the
# target keeps running (caches/MPU on) while the flash loader runs, the
# first flash attempt times out and the core ends up in lockup.
reset_config none
cortex_m reset_config sysresetreq

$_CHIPNAME.cpu0 configure -event gdb-attach {
        echo "Debugger attaching: halting execution"
        gdb_breakpoint_override hard
}

$_CHIPNAME.cpu0 configure -event gdb-detach {
        echo "Debugger detaching: resuming execution"
        resume
}

# Due to the use of connect_assert_srst, running gdb requires
# to reset halt just after openocd init.
rename init old_init
proc init {} {
        old_init
        reset halt
}
